.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: -5px;
}

.icon-medium {
  height: 1rem;
  opacity: 0.6;
  background-image: url("../../assets/images/icons/medium.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-spring {
  height: 1rem;
  background-image: url("../../assets/images/icons/spring.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-express {
  height: 1rem;
  background-image: url("../../assets/images/icons/expressjs.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-mongodb {
  height: 1rem;
  background-image: url("../../assets/images/icons/mongodb.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-couchbd {
  height: 1rem;
  background-image: url("../../assets/images/icons/couchbd.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-ejs {
  height: 1rem;
  background-image: url("../../assets/images/icons/ejs.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}

.icon-jasmine {
  height: 1rem;
  background-image: url("../../assets/images/icons/jasmine.svg");
  filter: invert(99%) sepia(9%) saturate(741%) hue-rotate(159deg)
    brightness(113%) contrast(97%);
}
