<div class="p-5 card" *ngFor="let item of products">
  <p-card>
    <h2 (click)="goTo(item.url)" [style]="{'cursor': 'pointer'}">{{ item.name }}</h2>
    <p>
      {{ item.description }}
    </p>
    <img src="{{ item.img }}" alt="albion online" style="width: 95%">
    <br />
    <span *ngFor="let tech of item.technologies">
      <p-chip [style]="{'height': '1rem',
        'font-size': '0.8rem',
        'width': '80%',
    }" label="{{tech.name}}" icon="{{tech.icon}}" />
    </span>
    <p-chip
      *ngIf="item.haveRepository"
      (click)="goTo(item.repository)"
      label="Ver repositorio"
      icon="mdi mdi-github"
      [style]="{
        'cursor': 'pointer',
        'margin-top': '0.5rem'
        }"></p-chip>
  </p-card>
</div>