@import "bootstrap/scss/bootstrap";

.chip {
  cursor: pointer;
  padding: 0.6rem 1.3rem;
  border-radius: 14px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale-content {
  transform: scale(0.7);
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -11% 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
