<div class="container">
  <app-menu></app-menu>
  <app-banner></app-banner>
  <!-- Por modificar -->
  <div id="card flex justify-content-center mx-lg-5">
    <h2>Acerca de mi</h2>
    <p>
      Desde pequeño he tenido gran interés por las computadoras y la tecnología.
      Empecé a programar desde el 2018 cuando inicié mi carrera en la
      Universidad Tecnológica de Panamá con la carrera Licenciatura en
      Desarrollo de Software. <br />Desde entonces, he aprendido a programar
      páginas web usando PhP y JavaScript. <br />Además, tengo conocimientos en
      el desarrollo de Apps Móviles con Android, Ciber Seguridad, Python y
      actualmente me estoy formando con CCNA Routing & Switching de Cisco.
    </p>

    <p-fieldset
      legend="Mostrar Certificados"
      [toggleable]="true"
      collapsed="true"
    >
      <iframe
        src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=f7tmq9jt4"
        width="100%"
        height="480"
        seamless="seamless"
        scrolling="no"
        frameBorder="0"
        allowFullScreen
      ></iframe>
    </p-fieldset>
  </div>

  <h2 class="my-4">Proyectos</h2>
  <div class="mt-1">
    <app-projects></app-projects>
  </div>

  <!-- Blog Full -->
  <h2 class="major">Ultimas Publicaciones📚</h2>
  <p>
    Aquí publico mis proyectos personales y guías. <br />
    En su mayoría de Tecnología, Windows, Raspberry Pi, entre otros intereses .
  </p>

  <app-last-publications></app-last-publications>

  <!-- Codigo muerto que no puedo quitar-->
  <div style="position: absolute; top: -2000px">
    <blockquote
      class="reddit-embed-bq hidden"
      data-embed-theme="dark"
      data-embed-height="0"
    >
      <a
        href="https://www.reddit.com/user/inusui/comments/rv7hqe/contraseñas_aleatorias_en_menos_de_30_segundos/"
        >Contraseñas aleatorias en menos de 30 segundos con python.</a
      ><br />
      by<a href="https://www.reddit.com/user/inusui/">u/inusui</a> in<a
        href="https://www.reddit.com/user/inusui/"
        >u_inusui</a
      >
    </blockquote>
  </div>
</div>
