<div class="content">
  <div class="profile">
    <div class="profile-info">
      <h1> {{ privateData.name }} <i> {{ privateData.alias }}</i></h1>
      <p>Soy un programador que disfruta creando proyectos. Trabajo con tecnologías
        como Angular, Java, Python y AWS para integrar servicios en la nube, siempre buscando aprender y mejorar.
        Además, soy organizado y meticuloso, lo que me permite ofrecer soluciones eficaces y mantener la eficiencia en
        mis proyectos.
      </p>
      <p class="details">Software Developer | Panama </p>
      <p-tabMenu [model]="items" [style]="{'display':'flex', 'justify-content': 'center'}">
        <ng-template pTemplate="item" let-item>
          <a pRipple class="flex align-items-center gap-2 p-menuitem-link" href="{{item.url}}" target="_blank"
            pTooltip="{{item.url}}">
            <img [class]="item.icon" [alt]="" [src]="item.image" style="width: 2rem" />
          </a>
        </ng-template>
      </p-tabMenu>
    </div>
    <img src="../../../assets/images/MyPic.png" class="MyPic">
  </div>
</div>