<div class="content">
  <div class="profile">
    <p-avatar image="../../../assets/images/MyPic.png" size="xlarge"/>
    <div class="profile-info">
      <h1> {{ privateData.name }} <i> {{ privateData.alias }}</i></h1>
      <p>Soy un programador apasionado, comprometido con la creación de proyectos y el aprendizaje continuo en diversos
        campos. Me destaco por mi capacidad de manejar herramientas de ofimática y documentar meticulosamente mi
        trabajo. He desarrollado aplicaciones móviles y web como programador full-stack, integrando servicios en la nube
        como AWS.
      </p>
      <p class="details">Software Developer | Panama </p>
      <p-tabMenu [model]="items">
        <ng-template pTemplate="item" let-item>
          <a pRipple class="flex align-items-center gap-2 p-menuitem-link" href="{{item.url}}" target="_blank">
            <img [class]="item.icon" [alt]="" [src]="item.image" style="width: 2rem" />
          </a>
        </ng-template>
      </p-tabMenu>
    </div>
  </div>
</div>