.line {
  display: flex;
  flex-direction: row;
}

.MyPic {
  max-width: 15%;
  height: auto;
  margin: 1rem;
}

@media (max-width: 768px) {
  .MyPic {
    max-width: 20%;
  }
}

@media (max-width: 576px) {
  .MyPic {
    max-width: 25%;
  }
}

@media screen and (max-width: 576px) {
  .line {
    flex-direction: column;
    align-items: center;
  }
  .MyPic {
    max-width: 25%;
  }
}
.content {
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
}

.profile-info p {
  margin: 5px 0;
  color: #666;
}

.profile-info .details {
  color: #666;
}
