<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="#blog">Blog Personal📚</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>

            <li><a href="#">Sign Up</a></li> --
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>

<div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
</div>