.card {
  padding: 0.1rem;
  position: relative;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
}
.card .content {
  margin: 1rem;
}

.card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .header h3 {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.card .header h4 {
  margin-top: 0.3rem;
  margin-right: 0.6rem;
  font-size: medium;
}
