<div class="card">
    <div class="header">
        <h3>Programador Fullstack en Banco General</h3>
        <h4>2022 - Actualidad</h4>
    </div>
    <div class="content">
        <p>Programador en la mesa ágil de atención y ventas onboarding, con experiencia en el sector bancario y
            especializado en la gestión de flujos digitales de productos financieros.
            <br> Colaboro en la implementación de
            soluciones tecnológicas para optimizar procesos y brindar soporte a aplicaciones internas.
            <br>
            Utilizo tecnologías como AWS, Angular, Spring Boot, Python y bases de datos para asegurar la eficiencia y
            seguridad en el desarrollo de proyectos.
        </p>
    </div>
</div>